# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
log
logs
precompiled
tmp
test-result
server.pid
dist/
lib/play-subdomainchecker.jar

#ignoring Eclipse stuff:
eclipse
.classpath
.settings/
.project
